body {
    font-family: Arial, sans-serif;
    background-color: #f8f7f3;
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}
.left-section {
    width: 40%;
    background-color: #f8f7f3;
    padding: 60px;
    box-sizing: border-box;
    color: #0a2940;
}
.left-section h1 {
    font-size: 48px;
    margin: 0 0 20px;
}
.logo {
    width: 300px;
    /* margin: 30px 0; */
    height: 170px;
    margin-left: -60px;
}
.classmatch-name {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 30px;
}
.contact {
    margin-top: 40px;
    line-height: 2em;
    font-size: 16px;
}
.dot-line {
    border-left: 3px dotted #d23c3c;
    height: 100px;
    margin-top: 30px;
}

.right-section {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}

.team-image {
    max-width: 100%;
    max-height: 90%;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
