<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>StuddyBuddy startup</title>
        {% load static %}
        <link rel="stylesheet" href="{% static '../static/startup-styles.css' %}">
        <link rel="stylesheet" href="{% static '../static/button.css' %}">
    </head>
    <body>
        <div id="main">
            <div id="first-block">
                <nav class="navbar">
                    <div class="logo-container">
                        <img src="../static/images/new-logo.png" alt="" class="logo">
                        <p class="logo-text">ClassMatch</p>
                    </div>
                    <ul class="nav-links">
                        <li><a href="#">Home</a></li>
                        <li><a href="contact">Contact</a></li>
                    </ul>
                </nav>
            </div>

            <div class="in-between-block">
                <div class="first-block-text">
                    <h1>Find Your</h1>
                </div>
                <div class="login-btn-container">
                    <a href="{% url 'login' %}" class="login-button">Sign in</a>
                </div>
                <div class="first-block-text">
                    <h1>ClassMatch</h1>
                </div>
            </div>

            <div id="second-block">
                <footer class="footer">
                    <div class="footer-first">
                        <p class="about-statement"><strong>About our Site:</strong> <br>The purpose of this site is to provide users with an easier way to find study partners. By utilizing technology, we match individuals based on similar study preferences and the classes they are taking.
                        Users can choose to input their syllabus or select the classes they wish to study for, facilitating a more efficient study partnership experience.</p>
                        <div class="footer-links">
                            <div> 
                                Links
                            </div>
                            <div> 
                                Legal
                            </div>
                            <div> 
                                Social
                            </div>
                            <div> 
                                Company
                            </div>   
                        </div>
                    </div>
                    <div class="footer-second">
                        <hr class="footer-hr">
                        <p>&copy; 2025 ClassMatch. All rights reserved.</p>
                    </div>
                </footer>
            </div>
        </div>

        <script>
            document.querySelector('a[href="#second-block"]').addEventListener('click', function(event) {
                event.preventDefault();
                
                document.querySelector('#second-block').scrollIntoView({
                    behavior: 'smooth',
                    block: 'start'
                });
            });

            function smoothScroll() {
                let inBetweenBlock = document.querySelector('.in-between-block');
                const scrollPosition = window.scrollY;
                const speed = scrollPosition / 2;
                const maxMovement = 350;
                const movement = Math.min(speed, maxMovement);

                inBetweenBlock.style.transform = `translateY(${movement}px)`;

                requestAnimationFrame(smoothScroll);
            }

            smoothScroll();
            window.addEventListener('scroll', () => {
                const fadeText = document.querySelector('.in-between-block');
                const scrollPosition = window.scrollY;
                const maxScroll = document.documentElement.scrollHeight - window.innerHeight;
                const opacity = 1.26 - (scrollPosition / maxScroll);

                fadeText.style.opacity = opacity;
            });

            smoothScroll();
            window.addEventListener('scroll', () => {
                const fadeText = document.querySelector('.navbar');
                const scrollPosition = window.scrollY;
                const maxScroll = document.documentElement.scrollHeight - window.innerHeight;

                const opacity = 1.26 - (scrollPosition / maxScroll);

                fadeText.style.opacity = opacity;
            });
        </script>
    </body>
</html>
